/* This file will hold styles for the mobile version of your website 
                                                    (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless 
    overwritten by a more specific style rule, CSS declarations in 
    global.css will apply site-wide. */

/* ALL & MOBILE */

/* media queries
narrow  - 740
normal  - 980
wide    - 1220 

colors
light blue  - #DBEAF4 - 219, 234, 244
dark blue   - #24446b
comment form? #C6D4E3
grey        - #f2f2f2
links       - #0062A0 - 0,98,160 :: reduced #3381b3
*/

/****************************/
/****************************/
/* Full Site ****************/
/****************************/
/****************************/

/* 2016-0414 forum stuff */
#forum-statistics {
    display:none;
}

/* working on story page v4 with tabbed panels */
.version-4 .region-read-more-top-bar .related-story {
    float: left;
    width: 14%;
}

/* fixing for mobile */
/* main content doesn't take up full width even though right sidebar disappears */
.responsive-layout-mobile .story-short-form {
    width: 100%;
    padding-left: 5px;
}
.responsive-layout-mobile .panels-flexible-18 .panels-flexible-region {
    width: 100%;
    padding-left: 4px;
/*    background-color: pink;*/
}
/* images to down to phone width */
.responsive-layout-mobile .main-image img {
    width: 100%;
    height: 100%;
/*    border: solid red 5px;*/
}
.responsive-layout-mobile .story-short-form .media-element {
    width: 100% !important;
    height: 100% !important;
/*    border: solid red 5px;*/
}
.responsive-layout-mobile .view-featured-stories img {
    width: 100% !important;
    height: 100% !important;
/*    border: solid red 5px;*/
}
.responsive-layout-mobile .story-short-form .media-element {
    width: 100% !important;
    height: 100% !important;
/*    border: solid red 5px;*/
}

/* beer button project */
.beer-wrapper {
    position: relative;
}
.beer-wrapper input {
    padding: 2px
}
.beer-wrapper p {
    padding-left: 10px;
    padding-right: 5px;
}
.beer-button {
    display: inline-block;
    width: 95%;
    border: black 1px solid;
    padding-right: 5px;
    padding-left: 6px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 5px;
}
.beer-button-text {
    position: absolute;
    top: 28px;
    left: 160px;
    color: #0062A0;
    font-weight: 500;
}
.beer-form form {
    font-weight: bold;
}
.beer-form {
    border: lightgray 1px solid;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;    
}

/* explore (sections) project */
h4.explore {
    margin-bottom: 2px;
}

/* site teaser project */
.site-teaser {
    color: white;
    background-color: #24446b;
    padding: 25px;
    text-align: center;
}
.site-teaser h3 {
    font-size: 235%;
}
.teaser-large {
    font-size: 170%;
}
.teaser-medium {
    font-size: 125%;
}
.teaser-small {
    font-size: 110%;
}
.site-teaser a {
    color: lightblue;
}



/****************************/
/* phone only - some overwritten at default
/*    and some are added in outside the section and below the non-mobile settting
/****************************/

.responsive-layout-mobile .featured-links {
    visibility: hidden;
    height: 0;
}

.responsive-layout-mobile .region-story-links {
    visibility: hidden;
    height: 0;
}

.responsive-layout-mobile .views-field-field-group-theme-banner,
.responsive-layout-mobile .groups {
    visibility: hidden;
    height: 0;
}
.responsive-layout-mobile .group-theme-banner img {
    display: none;
}



//.responsive-layout-mobile .region-story-links,
.responsive-layout-mobile .view-story-links,
.responsive-layout-mobile .story-short-form img,
.responsive-layout-mobile .full-story-postscript-1,
.responsive-layout-mobile .full-story-postscript-2,
.responsive-layout-mobile .full-story-postscript-2 bear-story-icon,
.responsive-layout-mobile input
{
    width: 100%;
}
.responsive-layout-mobile img.bear-story-icon {
    width: 100%;
}
.responsive-layout-mobile .bear-comment-form,
.responsive-layout-mobile .bear-story-button-wrapper,
.responsive-layout-mobile .full-story-postscript-1 {
    width: 300px;
}
.responsive-layout-mobile .form-text,
.responsive-layout-mobile .form-textarea
{
    //impacts comments form and story form
    width: 290px;
}
.responsive-layout-mobile .form-item {
    width: 290px
}
.responsive-layout-mobile .story-short-form,
.responsive-layout-mobile .full-story-postscript-2 {
    float: none;
}
.responsive-layout-mobile .full-story-postscript-1 {
    margin-bottom: 8px;
}
.not-logged-in.responsive-layout-mobile .toboggan-login-link {
    font-size: 145%;
}

/****************************/
/* Full Site: color *********/
/****************************/

#zone-user-wrapper,
#zone-branding-wrapper,
#zone-menu-wrapper,
#zone-header-wrapper,
#zone-preface-wrapper,
#zone-content-wrapper,
#zone-postscript-wrapper,
#zone-footer-wrapper
 {
    //background: black;
  }

#zone-header,
#zone-preface
{
    //background: #DBEAF4;
    // light blue
}
#zone-menu,
#zone-user,
#zone-branding
{	
    background: #24446b;
    // dark blue
}
#zone-content,
#region-sidebar-second,
#zone-postscript,
#zone-footer 
{
    // background: #F2F2F2;
    // light grey
}
#region-content
{	
    //background: #DBEAF4;
    // light blue
}
.responsive-layout-mobile #region-content {
   margin: 0px;
   padding-right: 2px;
}

.story-related-story {
    background: #F2F2F2;
}

/****************************/
/* Full Site: elements ******/
/****************************/

/* general elements */
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
h2.block-title {
    font-size: 100%;
}
.breadcrumb {
    display:none;
}

.block-powered-by {
    font-size: 50%;
}
.front .block-powered-by  {
//    background: #F2F2F2;
    text-align: right;
}


a:link, a:visited, a:active {
    text-decoration: none; 
}
a:hover {
    text-decoration: underline;
}
.site-name a:hover {
    text-decoration: none; 	   
}

.nice-menu {
    // this is only for the administrative menu currently - should switch
    // to sans serif if becomes visible to general population
    font-family: Georgia, 'Times New Roman', serif;
}
    
/* site name */
h1.site-name, h2.site-name {
    letter-spacing: 0px;
    font-family: 'Lato';
    font-weight: 900;
}
#region-branding a {
    color: white;
}

/* site slogan */ 
#region-branding h6 {
    color: white;
    font-family: 'Lato';
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0px;	
}

/* login */	
#region-user-second a {
    color: white;
    background: #24446b;
    font-family: 'Lato';	
}
div.toboggan-container {
    font-family: Lato;
    color: white;
    position: relative;
    // left: -20px;
}
.toboggan-login-link {
    border: lightgrey solid 1px;
    padding-right: 5px;
    padding-left: 6px;
    border-radius: 20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}   

/* main menu */        
#region-menu a {
// might have to be at narrow or normal - there was something tweaky
// menu was moved up to region-user-second
    color: white;
    font-family: 'Lato';
    font-size: 100%;
    background: #24446b;	
    }
ul.nice-menu-main-menu {
    color: white;
    font-family: 'Lato';
    font-size: 100%;
    background: #24446b;
    }
ul.nice-menu-main-menu li {
    border-style: none;
    background: #24446b;
}
ul.nice-menu-main-menu a {
    border-style: none;
    background: #24446b;
    color: white;
}

/* search */    
.block-search {
    margin-top: 25px;
    margin-bottom: 5px;
    position: relative;
}
input[type="text"]#edit-search-block-form--2 {
  -webkit-appearance: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
/*  border-color: #0062A0;
  color: #0062A0;*/
  border-color: #666;
  color: #666;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: 'Lato';
  height: 32px;
}
input[type="submit"].custom-search-form.form-submit {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-clip: padding-box;
    border-radius: 20px; 
    //  background: #ddd url(../images/button.png) repeat-x;
    //  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    //  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
    background-image: none;
    border: 1px solid #0062A0;
    //  border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #0062A0;
    font: inherit;
    outline: 0;
    overflow: hidden;
    padding: 3px 10px 4px;
    text-shadow: 0;
//    width: auto;
    position: absolute;
    *padding-top: 2px; /* IE7 */
    *padding-bottom: 0px; /* IE7 */
}
/* subscribe */
.subscribe-bear {
    position: relative;
    margin-bottom: 20px;
}
.subscribe-bear .newsletter-button {
    display: inline-block;
/*    border: #0062A0 1px solid;
    color: #0062A0;*/
    border: #666 1px solid;
    color: #666;
    padding-right: 5px;
    padding-left: 6px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.subscribe-bear .newsletter-icon {
    position: absolute;
    left: 121px;
    top: 6px;
}
#mc_embed_signup {
    background-color: white;
    border: gray solid 1px;
    padding-left: 4px;
    padding-bottom: 4px;
}
#mc_embed_signup p {
    margin-bottom: 0px;
}
#mc_embed_signup .indicates-required {
    font-size: 80%;
    color: red;
}
#mc_embed_signup .required {
    color: red;
}
#mc_embed_signup label {
    font-weight: normal;
}

/****************************/
/* Front Page ***************/
/****************************/
.front .view-content {
    padding-left: 8px;
}
.front #page-title  {
    display:none;
}
.featured-story-title {
    margin-bottom: 0;
}
.read-more {
    font-size: 150%;
}
.featured-story-author {
    padding-left: 30px;
    margin-bottom: 8px;
}	
.flexible-related-region table {
    border: 0;
}
.flexible-related-region h2 {
    font-size: 180%
}
.flexible-related-region .flexible-related-pane {
    width: 274px;
    height: 274px;
//    border: 1px solid lightblue;
    float: left;
}

/****************************/
/* Story    *****************/
/****************************/

.story-page #page-title {
    font-size: 165%;
}
.full-story-body {
    font-size: 120%;
}

/* sub brand */        
#region-header-first, #region-header-second {
    font-family: 'Lato';
    letter-spacing: 0px;
 // background: #DBEAF4;
 //   margin-right: 0px;
 //   margin-left: 8px;
}
.responsive-layout-mobile #region-header-first {
    background: #f2f2f2;
    margin: 0px;
}
#region-header-first h2 {
//    margin-bottom: 0px;
//    margin-top: 10px;
    font-family: 'Lato';
    font-weight: 900;
}
#region-header-second h6 {
    font-family: 'Lato';
    font-weight: 500;
}
.group-banner img {
    position: relative;
    width: 100%;
}

/* visibility section */
.orange {
    color: lightcoral;
}
.visibility-button-wrapper {
    background: #F2F2F2;    
}
.visibility-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    border:1px solid #004e80;
    display:inline-block;
    padding:6px 15px;
}
.visibility-pane {
    background: #F2F2F2;
    padding-left: 10px;
    color: #4d4d4d;
}
.visibility-pane div.field-content {
    padding-left: 10px;
}
/*.visibility-pane .group-members {
    padding-left: 10px;
}*/
/*.view-group-members {
    padding-left: 10px;
}*/
.group-members {
    padding-left: 20px;
}
/*.group-members,.view-group-members {
    margin-top: -20px;
    margin-bottom: 20px;
}*/

/* story links - metadata */
.metadata-button-wrapper {
//    background: #F2F2F2;
    padding: 2px;
}
.metadata-button-wrapper.open {
//    background: #F2F2F2;
    padding: 2px;
}
.metadata-button-wrapper.closed {
    //background: #DBEAF4;
    padding: 2px;
}
.metadata-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    /*border:1px solid #004e80;*/
    border: 1px solid #666;
    display:inline-block;
    padding:6px 15px;
}
.metadata-pane,.oiu-author-pane {
    background: #F2F2F2;
    padding-left: 10px;
    /*color: #4d4d4d;*/
    color: #666;
}
.metadata-pane {
    line-height: 1.1;
}
.metadata-pane a {
    color: #3381b3;
}
.metadata-pane ul li {
    margin: 0 0 0.25em 0.3em;
}

/* follow panes */
.follow-button-wrapper {
//    background: #F2F2F2;
    margin-top: 10px;
    padding-bottom: 2px;
    margin-bottom: -9px;
    position: relative;
    background-color: #DBEAF4;
}
.follow-button-wrapper.open {
//    background: #F2F2F2;
}
.follow-button-wrapper.closed {
    //background: #DBEAF4;
}
h3.follow-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    //border:1px solid black;
    /*border:1px solid #004e80;*/
    border:1px solid #666;
    display:inline-block;
    padding:6px 15px;
/*    color: #0062A0;*/
    color: #666;
}
.follow-question-icon {
    position: absolute;
    top: 12px;
    left: 90px
}
.follow-help {
    color: darkblue;
}
.follow-help-anon {
    padding-top: 8px;
}
.follow-pane {
    background: #F2F2F2;
    padding: 2px;
    padding-bottom: 9px;
    line-height: 1.1;
    color: #4d4d4d;
    position: relative;
}
/*.follow-pane-people {
    background-color: pink;
}*/
.follow-pane h2 {
    font-size: 94%;
    font-weight: normal;
//    position: absolute;
    background-color: #f2f2f2;
    top: -11px;
    margin-left: 10px;
    padding-right: 5px;
    margin-top: -10px;
}
.follow-pane-list {
    margin-bottom: 5px;
}
.follow-pane table {
    border-width: 2px 0px 0px;
    border-color: gray;
    margin-bottom: 0;
}
.follow-pane tr {
    border-bottom: solid 1px lightgray;
}
.flag-bookmarks .flag, .flag-follow-author .flag {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    border: solid 1px #004e80;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    position: absolute;
    right: 0px;
}
.flag-bookmarks .flag {
    margin-right: 2px;    
}
.flag-follow-author .flag {
    margin-right: 1px;
}
/* story links - story sequence */
.story-sequence-button-wrapper {
    background: #F2F2F2;
    padding-right: 6px;
    text-align: center;
}
/*
.metadata-button-wrapper.open {
    background: #F2F2F2;
    padding: 2px;
}
.metadata-button-wrapper.closed {
    background: #DBEAF4;
    padding: 2px;
}
.metadata-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    border:1px solid #004e80;
    display:inline-block;
    padding:6px 15px;
}
*/
.story-sequence-pane {
    margin-bottom: 10px;
}
.story-sequence-pane .ui-state-default {
    background: #F2F2F2;
    color: #4d4d4d;
    border: 0px;
}
.story-sequence-pane .ui-state-active {
    background: #F2F2F2;
    color: #4d4d4d;
    border: 0px;    
}
.story-sequence-pane a {
    color: #3381b3;
    font-family: 'Lato';
}
.story-sequence-pane .views-field-field-icon {
    float: left;
    padding-right: 3px;
}
.story-sequence-pane .views-field-body span {
    font-size: 90%;
    font-family: 'Lato';
    color: #4d4d4d;
    line-height: 21px;
}

/* misc lower page elements */
.connected-story-table table {
    border: none;
}

.pane-node-creative-commons-bug h2 {
    margin: 0px;
}
.comment-form .form-item-homepage,.form-item-subject {
    display: none;
}

/* ************************ */
/* Start a Story from panes */

.bear-story-button-wrapper {
    position: relative;
    float: left;
    
    // float to position this for phone
}
h3.bear-story-button {
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius: 40px;
    border: black solid 1px;
    display: inline-block;
    padding: 6px 210px 5px 0px; //overridden at default
}
.bear-story-button-text {
    position: absolute;
    top: 28px;
    left: 140px;
    font-weight: 500;
}
// this hides what I want on test
.bear-story-form fieldset.group-basic {
    // this doesn't work but the one below does; not sure which classes are needed in that string
    margin-bottom: -10px;
}
.bear-story-form .collapsible.required-fields.group-basic.field-group-htab.form-wrapper {
    margin-bottom: -10px;
}
.bear-story-form legend {
    display: none
}
.bear-story-form .field-name-field-main-image .description {
    display: none;
}
.bear-story-form .filter-wrapper {
    display: none;
}
.bear-story-form h2.element-invisible {
    display: none;
}
.video-upload-question-icon {
    width: 15px;
    padding-right: 5px;
}
.bear-story-form .form-actions {
    margin-top: 0;
}
// added to make test-panth work
/*.bear-story-form .field-name-field-attachment .fieldset-description {
    display: none;
}*/
.bear-story-form #edit-field-main-image,
.bear-story-form #edit-field-attachment {
    width: 70%;
}
/*#cke_edit-body-und-0-value iframe {
    width: 70%;
}*/

/* Comments   ***************/
/* region for comments */

.full-story-postscript-1 {
    //background: #DBEAF4;
    padding-left: 6px;
    // border: solid 1px #B3B3B3;
}
.comment {
    margin-left: 7px;
    margin-bottom: 4px;
    //background-color: #DBEAF4;    
}
.comment .user-picture {
    float: left;
    padding-right: 4px;
}

.bear-comment-form {
    padding-left: 6px;
}
.bear-comment-form h2 {
    font-size: 140%;
}

.comment-form .filter-wrapper {
    display: none;
    padding: 0em;
    }
.comment-form .form-item-mail,.form-item-name {
    margin-top: .2em;
    margin-bottom: .2em;
}	
.comment-form .form-actions {
    margin-top: -.5em;
}
.comment-form #edit-submit {
    background: url();
    border: 0px;
/*	margin-left: 14px;*/
    color: #0062A0;
    font-size: medium;
}	
.comment-form #edit-author--2,
#edit-comment-body-und-0-format-help,
#edit-comment-body-und-0-format-guidelines, 
#edit-comment-body-und-0-format {
    display:none;
}
.comment-form #edit-author--4 {
    // reducing comment form to simple text box for authorized users
    // some weirdness - display none doesn't work even though red does!
    //display: none
    background: red;
    // so used absolute positioning
/*    position: absolute;
    right: -500px;*/
//which also failed and turned off the red
}

#edit-author--4 a.username {
    display: none;
}
#edit-author--4 label {
    display: none;
}
=======
/* This file will hold styles for the mobile version of your website 
                                                    (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless 
    overwritten by a more specific style rule, CSS declarations in 
    global.css will apply site-wide. */

/* ALL & MOBILE */

/* media queries
narrow  - 740
normal  - 980
wide    - 1220 

colors
light blue  - #DBEAF4 - 219, 234, 244
dark blue   - #24446b
comment form? #C6D4E3
grey        - #f2f2f2
links       - #0062A0 - 0,98,160 :: reduced #3381b3
*/

/* 2016-0829 related stories dim and brighten */


.related-story {
    opacity: 1;
//    transition: opacity 4s ease-in;    
}
.related-story.unfresh {
    opacity: .1;
    transition: opacity 8s ease-in;
}
.related-story.unfresh:hover {
    opacity: 1;
    transition: opacity 0s;
}
/****************************/
/****************************/
/* Full Site ****************/
/****************************/
/****************************/

/* 2016-0414 forum stuff */
#forum-statistics {
    display:none;
}

/* working on story page v4 with tabbed panels */
.version-4 .region-read-more-top-bar .related-story {
    float: left;
    width: 14%;
}

/* fixing for mobile */
/* main content doesn't take up full width even though right sidebar disappears */
.responsive-layout-mobile .story-short-form {
    width: 100%;
    padding-left: 5px;
}
.responsive-layout-mobile .panels-flexible-18 .panels-flexible-region {
    width: 100%;
    padding-left: 4px;
/*    background-color: pink;*/
}
/* images to down to phone width */
.responsive-layout-mobile .main-image img {
    width: 100%;
    height: 100%;
/*    border: solid red 5px;*/
}
.responsive-layout-mobile .story-short-form .media-element {
    width: 100% !important;
    height: 100% !important;
/*    border: solid red 5px;*/
}
.responsive-layout-mobile .view-featured-stories img {
    width: 100% !important;
    height: 100% !important;
/*    border: solid red 5px;*/
}
.responsive-layout-mobile .story-short-form .media-element {
    width: 100% !important;
    height: 100% !important;
/*    border: solid red 5px;*/
}

/* beer button project */
.beer-wrapper {
    position: relative;
}
.beer-wrapper input {
    padding: 2px
}
.beer-wrapper p {
    padding-left: 10px;
    padding-right: 5px;
}
.beer-button {
    display: inline-block;
    width: 95%;
    border: black 1px solid;
    padding-right: 5px;
    padding-left: 6px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 5px;
}
.beer-button-text {
    position: absolute;
    top: 28px;
    left: 160px;
    color: black;
    font-weight: 500;
}
.beer-form form {
    font-weight: bold;
}
.beer-form {
    border: lightgray 1px solid;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;    
}

/* explore (sections) project */
h4.explore {
    margin-bottom: 2px;
}

/* site teaser project */
.site-teaser {
    color: white;
    background-color: #24446b;
    padding: 25px;
    text-align: center;
}
.site-teaser h3 {
    font-size: 235%;
}
.teaser-large {
    font-size: 170%;
}
.teaser-medium {
    font-size: 125%;
}
.teaser-small {
    font-size: 110%;
}
.site-teaser a {
    color: lightblue;
}



/****************************/
/* phone only - some overwritten at default
/*    and some are added in outside the section and below the non-mobile settting
/****************************/

.responsive-layout-mobile .featured-links {
    visibility: hidden;
    height: 0;
}

.responsive-layout-mobile .region-story-links {
    visibility: hidden;
    height: 0;
}

.responsive-layout-mobile .views-field-field-group-theme-banner,
.responsive-layout-mobile .groups {
    visibility: hidden;
    height: 0;
}
.responsive-layout-mobile .group-theme-banner img {
    display: none;
}



//.responsive-layout-mobile .region-story-links,
.responsive-layout-mobile .view-story-links,
.responsive-layout-mobile .story-short-form img,
.responsive-layout-mobile .full-story-postscript-1,
.responsive-layout-mobile .full-story-postscript-2,
.responsive-layout-mobile .full-story-postscript-2 bear-story-icon,
.responsive-layout-mobile input
{
    width: 100%;
}
.responsive-layout-mobile img.bear-story-icon {
    width: 100%;
}
.responsive-layout-mobile .bear-comment-form,
.responsive-layout-mobile .bear-story-button-wrapper,
.responsive-layout-mobile .full-story-postscript-1 {
    width: 300px;
}
.responsive-layout-mobile .form-text,
.responsive-layout-mobile .form-textarea
{
    //impacts comments form and story form
    width: 290px;
}
.responsive-layout-mobile .form-item {
    width: 290px
}
.responsive-layout-mobile .story-short-form,
.responsive-layout-mobile .full-story-postscript-2 {
    float: none;
}
.responsive-layout-mobile .full-story-postscript-1 {
    margin-bottom: 8px;
}
.not-logged-in.responsive-layout-mobile .toboggan-login-link {
    font-size: 145%;
}

/****************************/
/* Full Site: color *********/
/****************************/

#zone-user-wrapper,
#zone-branding-wrapper,
#zone-menu-wrapper,
#zone-header-wrapper,
#zone-preface-wrapper,
#zone-content-wrapper,
#zone-postscript-wrapper,
#zone-footer-wrapper
 {
    //background: black;
  }

#zone-header,
#zone-preface
{
    //background: #DBEAF4;
    // light blue
}
#zone-menu,
#zone-user,
#zone-branding
{	
    background: #24446b;
    // dark blue
}
#zone-content,
#region-sidebar-second,
#zone-postscript,
#zone-footer 
{
    // background: #F2F2F2;
    // light grey
}
#region-content
{	
    //background: #DBEAF4;
    // light blue
}
.responsive-layout-mobile #region-content {
   margin: 0px;
   padding-right: 2px;
}

.story-related-story {
    background: #F2F2F2;
}

/****************************/
/* Full Site: elements ******/
/****************************/

/* added 2016-0813 */
/* updated 2016-1103 */

.image-width-50pct {
    width: 50%;
}
.image-width-60pct {
    width: 60%;
}
.image-width-100pct {
    width: 100%;
}
.responsive-layout-mobile .image-width-50pct {
    width: 100%;
}
.responsive-layout-mobile .image-width-60pct {
    width: 100%;
}
/* this one is injected ck-editor */
.responsive-layout-mobile img .media-element .file-default {
    width: 100%;
}
/**/

.content-table th,td {
    border: 1px solid darkgrey;
}
.content-table tr:hover {
    background-color: #f5f5f5
}

/* general elements */
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
h2.block-title {
    font-size: 100%;
}
.breadcrumb {
    display:none;
}

.block-powered-by {
    font-size: 50%;
}
.front .block-powered-by  {
//    background: #F2F2F2;
    text-align: right;
}


a:link, a:visited, a:active {
    text-decoration: none; 
}
a:hover {
    text-decoration: underline;
}
.site-name a:hover {
    text-decoration: none; 	   
}

.nice-menu {
    // this is only for the administrative menu currently - should switch
    // to sans serif if becomes visible to general population
    font-family: Georgia, 'Times New Roman', serif;
}
    
/* site name */
h1.site-name, h2.site-name {
    letter-spacing: 0px;
    font-family: 'Lato';
    font-weight: 900;
}
#region-branding a {
    color: white;
}

/* site slogan */ 
#region-branding h6 {
    color: white;
    font-family: 'Lato';
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0px;	
}

/* login */	
#region-user-second a {
    color: white;
    background: #24446b;
    font-family: 'Lato';	
}
div.toboggan-container {
    font-family: Lato;
    color: white;
    position: relative;
    // left: -20px;
}
.toboggan-login-link {
    border: lightgrey solid 1px;
    padding-right: 5px;
    padding-left: 6px;
    border-radius: 20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}   

/* main menu */        
#region-menu a {
// might have to be at narrow or normal - there was something tweaky
// menu was moved up to region-user-second
    color: white;
    font-family: 'Lato';
    font-size: 100%;
    background: #24446b;	
    }
ul.nice-menu-main-menu {
    color: white;
    font-family: 'Lato';
    font-size: 100%;
    background: #24446b;
    }
ul.nice-menu-main-menu li {
    border-style: none;
    background: #24446b;
}
ul.nice-menu-main-menu a {
    border-style: none;
    background: #24446b;
    color: white;
}

/* search */    
.block-search {
    margin-top: 25px;
    margin-bottom: 5px;
    position: relative;
}
input[type="text"]#edit-search-block-form--2 {
  -webkit-appearance: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
/*  border-color: #0062A0;
  color: #0062A0;*/
  border-color: #666;
  color: #666;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: 'Lato';
  height: 32px;
}
input[type="submit"].custom-search-form.form-submit {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-clip: padding-box;
    border-radius: 20px; 
    //  background: #ddd url(../images/button.png) repeat-x;
    //  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    //  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
    background-image: none;
    border: 1px solid #0062A0;
    //  border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #0062A0;
    font: inherit;
    outline: 0;
    overflow: hidden;
    padding: 3px 10px 4px;
    text-shadow: 0;
//    width: auto;
    position: absolute;
    *padding-top: 2px; /* IE7 */
    *padding-bottom: 0px; /* IE7 */
}
/* subscribe */
.subscribe-bear {
    position: relative;
    margin-bottom: 20px;
}
.subscribe-bear .newsletter-button {
    display: inline-block;
/*    border: #0062A0 1px solid;
    color: #0062A0;*/
    border: #666 1px solid;
    color: #666;
    padding-right: 5px;
    padding-left: 6px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.subscribe-bear .newsletter-icon {
    position: absolute;
    left: 121px;
    top: 6px;
}
#mc_embed_signup {
    background-color: white;
    border: gray solid 1px;
    padding-left: 4px;
    padding-bottom: 4px;
}
#mc_embed_signup p {
    margin-bottom: 0px;
}
#mc_embed_signup .indicates-required {
    font-size: 80%;
    color: red;
}
#mc_embed_signup .required {
    color: red;
}
#mc_embed_signup label {
    font-weight: normal;
}

/****************************/
/* Front Page ***************/
/****************************/
.front .view-content {
    padding-left: 8px;
}
.front #page-title  {
    display:none;
}
.featured-story-title {
    margin-bottom: 0;
}
.read-more {
    font-size: 150%;
}
.featured-story-author {
    padding-left: 30px;
    margin-bottom: 8px;
}	
.flexible-related-region table {
    border: 0;
}
.flexible-related-region h2 {
    font-size: 180%
}
.flexible-related-region .flexible-related-pane {
    width: 274px;
    height: 274px;
//    border: 1px solid lightblue;
    float: left;
}

/****************************/
/* Story    *****************/
/****************************/

.story-page #page-title {
    font-size: 165%;
}
.full-story-body {
    font-size: 120%;
}

/* sub brand */        
#region-header-first, #region-header-second {
    font-family: 'Lato';
    letter-spacing: 0px;
    //background: #DBEAF4;
 //   margin-right: 0px;
 //   margin-left: 8px;
}
.responsive-layout-mobile #region-header-first {
    background: #f2f2f2;
    margin: 0px;
}
#region-header-first h2 {
//    margin-bottom: 0px;
//    margin-top: 10px;
    font-family: 'Lato';
    font-weight: 900;
}
#region-header-second h6 {
    font-family: 'Lato';
    font-weight: 500;
}
.group-banner img {
    position: relative;
    width: 100%;
}

/* visibility section */
.orange {
    color: lightcoral;
}
.visibility-button-wrapper {
    background: #F2F2F2;    
}
.visibility-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    border:1px solid #004e80;
    display:inline-block;
    padding:6px 15px;
}
.visibility-pane {
    background: #F2F2F2;
    padding-left: 10px;
    color: #4d4d4d;
}
.visibility-pane div.field-content {
    padding-left: 10px;
}
/*.visibility-pane .group-members {
    padding-left: 10px;
}*/
/*.view-group-members {
    padding-left: 10px;
}*/
.group-members {
    padding-left: 20px;
}
/*.group-members,.view-group-members {
    margin-top: -20px;
    margin-bottom: 20px;
}*/

/* story links - metadata */
.metadata-button-wrapper {
//    background: #F2F2F2;
    padding: 2px;
}
.metadata-button-wrapper.open {
//    background: #F2F2F2;
    padding: 2px;
}
.metadata-button-wrapper.closed {
    //background: #DBEAF4;
    padding: 2px;
}
.metadata-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    /*border:1px solid #004e80;*/
    border: 1px solid #666;
    display:inline-block;
    padding:6px 15px;
}
.metadata-pane,.oiu-author-pane {
    background: #F2F2F2;
    padding-left: 10px;
    /*color: #4d4d4d;*/
    color: #666;
}
.metadata-pane {
    line-height: 1.1;
}
.metadata-pane a {
    color: #3381b3;
}
/*** animate on story page ***/
.metadata-pane {
    max-height: 5000px;
}
.metadata-pane.closed-pane {
    opacity: 0;
    max-height: 0;
    transition: max-height 9s, opacity 8s ease-in;
}
.metadata-pane.open-pane {
    opacity: 1;
    max-height: 5000px;
}

.oiu-author-pane {
    max-height: 70px;
}
.oiu-author-pane.closed-pane {
    opacity: 0;
    max-height: 0;
    max-width: 0;
    transition: opacity 8s, max-height 8s;
}
.oiu-author-pane.closed-pane .author-icon {
    // firefox image doesn't go to zero in the previous
    height: 0;
    width: 0;
}
.oiu-author-pane.open-pane {
    opacity: 1;
    max-height: 70px;
}
/*** end animate ***/

.metadata-pane ul li {
    margin: 0 0 0.25em 0.3em;
}

/* follow panes */
.follow-button-wrapper {
//    background: #F2F2F2;
    margin-top: 10px;
    padding-bottom: 2px;
    margin-bottom: -9px;
    position: relative;
//    background-color: #DBEAF4;
}
.follow-button-wrapper.open {
//    background: #F2F2F2;
}
.follow-button-wrapper.closed {
    //background: #DBEAF4;
}
h3.follow-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    //border:1px solid black;
    /*border:1px solid #004e80;*/
    border:1px solid #666;
    display:inline-block;
    padding:6px 15px;
/*    color: #0062A0;*/
    color: #666;
}
.follow-question-icon {
    position: absolute;
    top: 12px;
    left: 90px
}
.follow-help {
    color: darkblue;
}
.follow-help-anon {
    padding-top: 8px;
}
.follow-pane {
    background: #F2F2F2;
    padding: 2px;
    padding-bottom: 9px;
    line-height: 1.1;
    color: #4d4d4d;
    position: relative;
}
/*.follow-pane-people {
    background-color: pink;
}*/
.follow-pane h2 {
    font-size: 94%;
    font-weight: normal;
//    position: absolute;
    background-color: #f2f2f2;
    top: -11px;
    margin-left: 10px;
    padding-right: 5px;
    margin-top: -10px;
}
.follow-pane-list {
    margin-bottom: 5px;
}
.follow-pane table {
    border-width: 2px 0px 0px;
    border-color: gray;
    margin-bottom: 0;
}
.follow-pane tr {
    border-bottom: solid 1px lightgray;
}
.flag-bookmarks .flag, .flag-follow-author .flag {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    border: solid 1px #004e80;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    position: absolute;
    right: 0px;
}
.flag-bookmarks .flag {
    margin-right: 2px;    
}
.flag-follow-author .flag {
    margin-right: 1px;
}
/* story links - story sequence */
.story-sequence-button-wrapper {
    background: #F2F2F2;
    padding-right: 6px;
    text-align: center;
}
/*
.metadata-button-wrapper.open {
    background: #F2F2F2;
    padding: 2px;
}
.metadata-button-wrapper.closed {
    background: #DBEAF4;
    padding: 2px;
}
.metadata-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    border:1px solid #004e80;
    display:inline-block;
    padding:6px 15px;
}
*/
.story-sequence-pane {
    margin-bottom: 10px;
}
.story-sequence-pane .ui-state-default {
    background: #F2F2F2;
    color: #4d4d4d;
    border: 0px;
}
.story-sequence-pane .ui-state-active {
    background: #F2F2F2;
    color: #4d4d4d;
    border: 0px;    
}
.story-sequence-pane a {
    color: #3381b3;
    font-family: 'Lato';
}
.story-sequence-pane .views-field-field-icon {
    float: left;
    padding-right: 3px;
}
.story-sequence-pane .views-field-body span {
    font-size: 90%;
    font-family: 'Lato';
    color: #4d4d4d;
    line-height: 21px;
}

/* misc lower page elements */
.connected-story-table table {
    border: none;
}

.pane-node-creative-commons-bug h2 {
    margin: 0px;
}
.comment-form .form-item-homepage,.form-item-subject {
    display: none;
}

/* ************************ */
/* Start a Story from panes */

.bear-story-button-wrapper {
    position: relative;
    float: left;
    
    // float to position this for phone
}
h3.bear-story-button {
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius: 40px;
    border: black solid 1px;
    display: inline-block;
    padding: 6px 210px 5px 0px; //overridden at default
}
.bear-story-button-text {
    position: absolute;
    top: 28px;
    left: 140px;
    font-weight: 500;
}
// this hides what I want on test
.bear-story-form fieldset.group-basic {
    // this doesn't work but the one below does; not sure which classes are needed in that string
    margin-bottom: -10px;
}
.bear-story-form .collapsible.required-fields.group-basic.field-group-htab.form-wrapper {
    margin-bottom: -10px;
}
.bear-story-form legend {
    display: none
}
.bear-story-form .field-name-field-main-image .description {
    display: none;
}
.bear-story-form .filter-wrapper {
    display: none;
}
.bear-story-form h2.element-invisible {
    display: none;
}
.video-upload-question-icon {
    width: 15px;
    padding-right: 5px;
}
.bear-story-form .form-actions {
    margin-top: 0;
}
// added to make test-panth work
/*.bear-story-form .field-name-field-attachment .fieldset-description {
    display: none;
}*/
.bear-story-form #edit-field-main-image,
.bear-story-form #edit-field-attachment {
    width: 70%;
}
/*#cke_edit-body-und-0-value iframe {
    width: 70%;
}*/

/* Comments   ***************/
/* region for comments */

.full-story-postscript-1 {
    //background: #DBEAF4;
    padding-left: 6px;
    // border: solid 1px #B3B3B3;
}
.comment {
    margin-left: 7px;
    margin-bottom: 4px;
    //background-color: #DBEAF4;    
}
.comment .user-picture {
    float: left;
    padding-right: 4px;
}

.bear-comment-form {
    padding-left: 6px;
}
.bear-comment-form h2 {
    font-size: 140%;
}

.comment-form .filter-wrapper {
    display: none;
    padding: 0em;
    }
.comment-form .form-item-mail,.form-item-name {
    margin-top: .2em;
    margin-bottom: .2em;
}	
.comment-form .form-actions {
    margin-top: -.5em;
}
.comment-form #edit-submit {
    background: url();
    border: 0px;
/*	margin-left: 14px;*/
    color: #0062A0;
    font-size: medium;
}	
.comment-form #edit-author--2,
#edit-comment-body-und-0-format-help,
#edit-comment-body-und-0-format-guidelines, 
#edit-comment-body-und-0-format {
    display:none;
}
.comment-form #edit-author--4 {
    // reducing comment form to simple text box for authorized users
    // some weirdness - display none doesn't work even though red does!
    //display: none
    background: red;
    // so used absolute positioning
/*    position: absolute;
    right: -500px;*/
//which also failed and turned off the red
}

#edit-author--4 a.username {
    display: none;
}
#edit-author--4 label {
    display: none;
}

